body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
}
h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.pro {
    text-decoration: underline;
}

.top-container {
    position: relative;
    margin-top: 0;
    background-color: #E4F9F5;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    color: white;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.mountain {
}

.middle-container {
    
}

.bottom-container {

}
